<html>
    <head>
        <title>RandMovies</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <div class = "sidenav">
            <a href = "/Home">Home</a>
            <a href = "/MoviePicker">Add Movie</a>
        </div>

        <div id="content", name="content", class="main">

            {% block content %}
            {% endblock %}

        </div>

        

    </body>
</html>