{% extends "./base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GHMOVIES</title>
</head>
<style> 
h1 {
    text-align: center;
    text-decoration:none;
}
h1:hover {
    transition: font-size, text-decoration, 4s;
    font-size: 40px;
    text-decoration: double;
}

</style>

<body>
    <div class = "webHeader">
        <h1>
            Welcome to The Slumber Party
        </h1>
    </div>
</body>
</html>
{% endblock %}